@using Projet2.DAO;
@using Projet2.Models

@{
    ViewBag.Title = "MonCompte";
}
<h1>MonCompte</h1>
<br />

<table style="margin-top:100px">

    <tr>
        <th> Nom :</th>
        <td>@ViewBag.InfoUser.Nom</td>
    </tr>
    <tr>
        <th>Prenom :</th>
        <td>@ViewBag.InfoUser.Prenom</td>
    </tr>
    <tr>
        <th> Date de naissance :</th>
        <td>@ViewBag.InfoUser.DateNaissance</td>
    </tr>
    <tr>
        <th> Email :</th>
        <td>@ViewBag.InfoUser.Email</td>
    </tr>
    <tr>
        <th> Numéro de téléphone :</th>
        <td>@ViewBag.InfoUser.Tel</td>
    </tr>
    <tr>
        <th> Numéro de portable :</th>
        <td>@ViewBag.InfoUser.Portable</td>
    </tr>
    <tr>
        <th> Date d'inscription :</th>
        <td>@ViewBag.InfoUser.DateInscription</td>
    </tr>

</table>
            


