
@using Projet2.DAO;
@using Projet2.Models
@model Projet2.DAO.DemandeDAO
@{
    ViewBag.Title = "Accueil";
}

<h1>Accueil</h1>
<br />

<a href="~/Demande/FaireUneDemande">Faire une demande d'aide</a>
<a href="~/Demande/RechercherDemandeAide">Rechercher les demandes d'aides</a>
</br>
<h3 style="font-style: italic">Demande en cours</h3>
<table>
    <thead>
        <tr>
            <th>
                <h3>Type d'aide</h3>
            </th>
            <th>
                <h3>Jour de la tâche</h3>
            </th>
            <th>
                <h3>Heure</h3>
            </th>
            <th>
                <h3>Description</h3>
            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (Demande d in ViewBag.DemandeEnCours)
        {
            <tr>
                <td>@d.LibelleAide</td>
                <td>@d.dateTraitement</td>
                <td>@d.heureTraitement</td>
                <td>@d.description</td>
            </tr>
        }
    </tbody>
</table>
</br>

<h3 style="font-style: italic">Proposition en cours</h3>
<table>
    <thead>
        <tr>
            <th>
                <h3>Type d'aide</h3>
            </th>
            <th>
                <h3>Jour de la tâche</h3>
            </th>
            <th>
                <h3>Heure</h3>
            </th>
            <th>
                <h3>Description</h3>
            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (Demande d in ViewBag.PropositionEnCours)
        {
            <tr>
                <td>@d.LibelleAide</td>
                <td>@d.dateTraitement</td>
                <td>@d.heureTraitement</td>
                <td>@d.description</td>
            </tr>

        }
    </tbody>

</table>
