
@using Projet2.DAO;
@using Projet2.Models
@model Projet2.DAO.DemandeDAO
@{
    ViewBag.Title = "Accueil";
}

<h1>Accueil</h1>
<br />

<div style="text-align:center;">
    <a href="~/Demande/FaireUneDemande" class="link_button">Faire une demande d'aide</a>
</div>
<br />
<br />
<br />
<div style="text-align:center;">
    <a href="~/Demande/RechercheDemandeAide" class="link_button">Rechercher les demandes d'aides</a>
</div>
    <br />
    <h3 style="font-style: italic">Demande en cours</h3>
    <table>
        <thead>
            <tr>
                <th>
                    <h3>Type d'aide</h3>
                </th>
                <th>
                    <h3>Jour de la tâche</h3>
                </th>
                <th>
                    <h3>Heure</h3>
                </th>
                <th>
                    <h3>Description</h3>
                </th>
                <th>
                    <h3>Annuler ma demande</h3>
                </th>
                <!-- <th>
        <h3>Modifier ma demande</h3>
    </th>-->
            </tr>
        </thead>

        <tbody style="text-align:center">
            @foreach (Demande d in ViewBag.DemandeEnCours)
            {
            
            <tr>
                <td><input type="hidden" value="@d.LibelleAide" name="LibelleAide" />@d.LibelleAide</td>
                <td><input type="hidden" value="@d.dateTraitement.ToShortDateString()" name="DateTraitement" />@d.dateTraitement.ToShortDateString()</td>
                <td><input type="hidden" value="@d.heureTraitement" name="heureTraitement" />@d.heureTraitement</td>
                <td><input type="hidden" value="@d.description" name="description" />@d.description</td>
                <td>
                    <form method="post">
                        <input type="hidden" value="@d.NumDemandeAide" name="NumDemandeAide" />
                        <input class="button" type="submit" value="Annuler ma demande" />
                    </form>
                </td>
                <!-- <td>
        <form method="post" action="~/Home/Accueil2">
            <input type="hidden" value="d.NumDemandeAide" name="NumDemandeAide" />
            <input class="button" type="submit" class="link_button" value="Modifier ma demande d'aide"/>
        <form>
    </td>-->
            </tr>
          
             }
            </tbody>
    </table>
    </br>

    <h3 style="font-style: italic">Proposition en cours</h3>
    <table>
        <thead>
            <tr>
                <th>
                    <h3>Type d'aide</h3>
                </th>
                <th>
                    <h3>Jour de la tâche</h3>
                </th>
                <th>
                    <h3>Heure</h3>
                </th>
                <th>
                    <h3>Description</h3>
                </th>
            </tr>
        </thead>

        <tbody style="text-align:center">
            @foreach (Demande d in ViewBag.PropositionEnCours)
            {
                <tr>
                    <td>@d.LibelleAide</td>
                    <td>@d.dateTraitement.ToShortDateString()</td>
                    <td>@d.heureTraitement</td>
                    <td>@d.description</td>
                </tr>

            }
        </tbody>

    </table>
