
@using Projet2.DAO;
@using Projet2.Models
@model Projet2.DAO.DemandeDAO
@{
    ViewBag.Title = "Accueil";
}

<h2>Accueil</h2>

<a href="~/Demande/FaireUneDemande">Faire une demande d'aide</a>
<a href="~/Demande/RechercherDemandeAide">Rechercher les demandes d'aides</a>

    <table>
        <tr>
            <td>
                <h3>Demande en cours</h3>
            </td>
            <td>
                <h3>Type d'aide</h3>
            </td>
            <td>
                <h3>Jour de la tâche</h3>
            </td>
            <td>
                <h3>Heure</h3>
            </td>
            <td>
                <h3>Description</h3>
            </td>
        </tr>

        @foreach (Demande d in ViewBag.DemandeEnCours)
        {
            <tr>
                <td></td>
                <td>@d.LibelleAide</td>
                <td>@d.dateTraitement</td>
                <td>@d.heureTraitement</td>
                <td>@d.description</td>
            </tr>
        }

    </table>

    <table>

        <tr>
            <td>
                <h3>Proposition en cours</h3>
            </td>
            <td>
                <h3>Jour de la tâche</h3>
            </td>
            <td>
                <h3>Heure</h3>
            </td>
            <td>
                <h3>Description</h3>
            </td>
        </tr>

        @foreach (Demande d in ViewBag.PropositionEnCours)
        {
            <tr>
                <td></td>
                <td>@d.LibelleAide</td>
                <td>@d.dateTraitement</td>
                <td>@d.heureTraitement</td>
                <td>@d.description</td>
            </tr>

        }

    </table>
