@using Projet2.Models;
@using Projet2.DAO;
@model Projet2.Models.Demande
@{
    ViewBag.Title = "FaireUneDemande";
}

<h1>Déposez votre demande</h1>
<br />

<form method="post">
    <div class="form-text">
        <select name="IdTypeAide" required>
            <option selected>Choissiez un type d'aide</option>
            @foreach (TypeHelp item in @Model.ListTypeHelp)
            {
                <option value="@item.Id" selected="@item.selected">@item.Label</option>
            }
        </select>
    </div>
    <br />
    <div class="form-text" required>
        <label class="form-label" for="start">Jour de traitement souhaité : </label>
        <input type="date" value="@Model.dateTraitement" name="dateTraitement">
    </div>
    <br />
    <div class="form-text" required>
        <label class="form-label" for="appt">Heure de traitement souhaitée : </label>
        <input type="time" value="@Model.heureTraitement" name="HeureTraitement">
    </div>
    <br />
    <div class="form-text" maxlength="1000" required>
        <textarea name="description" required style="width:500px;">Veuillez renseigner les détails de votre demande (ex : liste de course, race de chien...)</textarea>
    </div>
    <br />
  <!--   <div>
        <select name="Nom" required>
            <option selected>Choissiez un utilisateur</option>
            foreach (User u in ViewBag.listeUsers)
            {
                <option> u.Nom </option>
            }
        </select>
    </div>
    -->

    <input class="button" type="submit" value="Valider" />
</form>
