@using Projet2.Models;
@using Projet2.DAO;
@model Projet2.Models.Demande
@{
    ViewBag.Title = "FaireUneDemande";
}

<form method="post">
    <div class="choixaide">
        <select name="IdTypeAide" required>
            <option selected>Choissiez un type d'aide</option>
            @foreach (TypeHelp item in @Model.ListTypeHelp)
            {
                <option value="@item.Id" selected="@item.selected">@item.Label</option>
            }
        </select>
    </div>
    <div class="dateTraitement" required>
        <label for="start">Jour de traitement souhaité : </label>
        <input type="date" value="@Model.dateTraitement" name="dateTraitement">
    </div>
    <div class="heureTraitement" required>
        <label for="appt">Heure de traitement souhaitée : </label>
        <input type="time" value="@Model.heureTraitement" name="HeureTraitement">
    </div>
    <div class="description" maxlength="500" required>
        <textarea name="description" maxlength="1000" required>Veuillez renseigner les détails de votre demande (ex : liste de course, race de chien...)</textarea>
    </div>
  <!--   <div>
        <select name="Nom" required>
            <option selected>Choissiez un utilisateur</option>
            @foreach (User u in ViewBag.listeUsers)
            {
                <option> @u.Nom </option>
            }
        </select>
    </div>
    -->

    <input type="submit" value="Valider" />
</form>
