@using Projet2.Models;
@using Projet2.DAO;
@using Projet2.Controllers;
@model Projet2.Models.Demande
@{
    ViewBag.Title = "ModifierDemandeAide";
}

<h2>ModifierDemandeAide</h2>

<form method="post" style="text-align:center; margin-top: 100px;">
    <div class="form-text">
        <select name="IdTypeAide" required>
            <option selected="@ViewBag.DemandeAModifier.d.LibelleAide"></option>
            @foreach (TypeHelp item in @Model.ListTypeHelp)
            {
                <option value="@item.Id" selected="@item.selected">@item.Label</option>
            }
        </select>
    </div>
    <br />
    <div class="form-text" required>
        <label class="form-label" for="start">Jour de traitement souhaité : </label>
        <input type="date" value="@ViewBag.DemandeAModifier.d.dateTraitement" name="dateTraitement">
    </div>
    <br />
    <div class="form-text" required>
        <label class="form-label" for="appt">Heure de traitement souhaitée : </label>
        <input type="time" value="@ViewBag.DemandeAModifier.d.heureTraitement" name="HeureTraitement">
    </div>
    <br />
    <div class="form-text" required>
        <textarea name="description" value="@ViewBag.DemandeAModifier.d.description" name="description" style="height:250px; width:500px;" required></textarea>
    </div>
    <br />
    <input type="hidden" value="@ViewBag.DemandeAModifier.d.NumDemandeAide" name="NumDemandeAide" />
    <input class="button" type="submit" value="Valider" />
</form>