
@using Projet2.DAO;
@using Projet2.Models
@model Projet2.DAO.DemandeDAO

@{
    ViewBag.Title = "RechercheDemandeAide";
}

<h2>Recherche de demande d'aide</h2>

<table>
    <thead>
        <tr>
            <td>
                <h3>Type de demande</h3>
            </td>
            <td>
                <h3>Jour de la tâche</h3>
            </td>
            <td>
                <h3>Heure</h3>
            </td>
            <td>
                <h3>Description</h3>
            </td>
            <td>
                <h3>Se proposer</h3>
            </td>
            <td>
                <h3>Choisir un utilisateur</h3>
            </td>
        </tr>
    </thead>

    <tbody>
        @foreach (Demande d in ViewBag.listeDemandes)
        {
        <form method="post">
            <tr>
                <td>@d.LibelleAide</td>
                <td>@d.dateTraitement</td>
                <td>@d.heureTraitement</td>
                <td>@d.description</td>

                <td>
                    <input type="hidden" value="@d.NumDemandeAide" name="NumDemandeAide" />
                    <input type="submit" value="Choisir" />
                </td>
                <td>
                    <select name="NumCompte" required>
                        <option selected>Choissiez un utilisateur</option>
                        @foreach (User u in ViewBag.listeUsers)
                        {
                            <option value="@u.NumCompte" selected="@u.selected" > @u.Nom </option>                           
                        }
                    </select>
                </td>
            </tr>
        </form>
        }

    </tbody>
</table>