<!-- Model : appel à la BDD Demande
    Controleur : créer l'objet Demande
    Vues : faire un foreach sur chaque caractéristiques de chaque demande

    Pour la recherche filtrée il faudra faire la même chose mais dans le Model Utilisateur
-->


@{
    ViewBag.Title = "RechercheDemandeAide";
}

<h2>Recherche de demande d'aide</h2>

<table>
    <thead>
        <tr>
            <td>
                <h3>Type de demande</h3>
            </td>
            <td>
                <h3>Jour de la tâche</h3>
            </td>
            <td>
                <h3>Heure</h3>
            </td>
            <td>
                <h3>Nom bénéficiaire</h3>
            </td>
            <td>
                <h3>Prénom</h3>
            </td>
            <td>
                <h3>Afficher la demande</h3>
            </td>
        </tr>
    </thead>

    <tbody>
        @foreach (Demande d in ViewBag.Demandes)
        {
        <tr>
            <td>@th.LibelleAide</td>
            <td>@u.Nom</td>
            <td>@u.Prenom</td>
            <td>@d.DateTraitement</td>
            <td>@d.HeureTraitement</td>
            <td> <input type="button" value="Voir" /> </td>
        </tr>
        }
        </tbody>
</table>