
@using Projet2.DAO;
@using Projet2.Models
@model Projet2.DAO.DemandeDAO

@{
    ViewBag.Title = "RechercheDemandeAide";
}

<h1>Recherche de demande d'aide</h1>
<br />

<table style="margin-top:50px">
    <thead>
        <tr>
            <th>
                <h3>Type de demande</h3>
            </th>
            <th>
                <h3>Jour de la tâche</h3>
            </th>
            <th>
                <h3>Heure</h3>
            </th>
            <th>
                <h3>Description</h3>
            </th>
            <th>
                <h3>Se proposer</h3>
            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (Demande d in ViewBag.listeDemandes)
        {
        <form method="post">
            <tr>
                <td>@d.LibelleAide</td>
                <td>@d.dateTraitement.ToShortDateString()</td>
                <td>@d.heureTraitement</td>
                <td>@d.description</td>

                <td>
                    <input type="hidden" value="@d.NumDemandeAide" name="NumDemandeAide" />
                    <input class="button" type="submit" value="Choisir" />
                </td>                
            </tr>
        </form>
        }

    </tbody>
</table>